
%div.title-bar{align: "center"}
  %div.main-title-area FANMARU DASHBOARD

#trade-app
  %el-card.trade-chart{shadow: 'hover'}
    %div.clearfix{slot:'header'}
      %span GENERAL STATISTIC
    %el-row
      %el-col{':span': '6', style: 'height: 100px;'}
        %div.currencies USD/JPY
      %el-col{':span': '6', style: 'height: 100px;'}
        %div.values scale
      %el-col{':span': '6', style: 'height: 100px;'}
        %div.values last
      %el-col{':span': '6', style: 'height: 100px;'}
        %div.values behaviour
    %el-cascader{'expand-trigger': 'hover', ':options': 'lowAnalyticsOptions', '@change': 'handleSelectLowAnalytics'}
    %el-cascader{'expand-trigger': 'hover', ':options': 'highAnalyticsOptions', '@change': 'handleSelectHighAnalytics'}
    %div.chart-container
      %canvas#myChart{'v-if': 'this.timeSeries', width: '300', height: '300'}
