= render 'layouts/title_area'

#trade-app
  %el-card.trade-chart{shadow: 'hover'}
    %div.clearfix{slot:'header'}
      %span GENERAL STATISTIC
    %el-row
      %el-col{':span': '6', style: 'height: 100px;'}
        %div.currencies {{ this.from_currency }}/{{ this.to_currency }}
        %div
          scale
          %el-cascader{'size': 'mini', ':options': 'scaleOptions', '@change': 'handleSelectScales'}
      %el-col{':span': '6', style: 'height: 100px;'}
        %div.values
          {{ lastValue }}
          %div.description{'v-if': 'lastValue > prevLastValue', style: 'color: blue;'}
            %i.fa.fa-arrow-up
          %div.description{'v-if': 'lastValue < prevLastValue', style: 'color: red'}
            %i.fa.fa-arrow-down {{ roundUnderPoint(prevLastValue - lastValue, 3) }}
      %el-col{':span': '6', style: 'height: 100px;'}
        %div.values
      %el-col{':span': '6', style: 'height: 100px;'}
        %div.values behaviour
    %el-cascader{'expand-trigger': 'hover', ':options': 'lowAnalyticsOptions', '@change': 'handleSelectLowAnalytics'}
    %el-cascader{'expand-trigger': 'hover', ':options': 'highAnalyticsOptions', '@change': 'handleSelectHighAnalytics'}
    %div.chart-container
      %canvas#myChart{'v-if': 'this.timeSeries', width: '300', height: '300'}
