/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}


// --------------- layout/sidebar
.sidebar-sticky,
.sidebar-container {
  height: 100%;
}

.sidebar-icons {
  background-color: #29333C;
  color: #9CEDE7;
}

.sidebar-menu {
  background: linear-gradient(#49747B, #839FA3);
  color: white;
}

.sidebar-title {
  width: 100%;
  padding: 10px;
  height: 75px;
  display: table;
}

.sidebar-title i {
  color: #CCCCCC;
}

.sidebar-title a {
  color: white;
}

.sidebar-title a,
.sidebar-title i {
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.sidebar-icons .icons-item {
  height: 45px;
  width: 100%;
  display: table;
}

.sidebar-icons .icons-item a {
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  color: #9CEDE7;
  text-decoration: none;
}

.sidebar-icons .selected {
  background-color: #5C8189;
}

.sidebar-menu .menu-item {
  height: 45px;
  width: 100%;
  display: table;
}

.sidebar-menu .menu-item a{
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}

.sidebar-menu .menu-item.selected a{
  background-color: #F9FAFC;
  color: #707070;
}

.sidebar-menu .menu-partition {
  background-color: #52757C;
  font-size: 12px;
  padding: 2px 10px;
}

// --------------- index.html
.main-title-area {
  padding: 10px;
  font-size: 20px;
  color: #CCCCCC;
}

.title-area {

}

.trade-chart {

}

.trade-chart .el-card__header {
  background-color: #F9FAFC;
  color: #707070;
}

.trade-chart .currencies {
  font-size: 3vw;
  color: #707070;
  text-align: left;
  vertical-align: middle;
}

.trade-chart .values {
  height: 100%;
  font-size: 3vw;
  color: #707070;
  border-left: 1px solid #CCCCCC;
  text-align: center;
}

.trade-chart .values .description {
  font-size: 1vw;
}

.chart-container {
  height: 500px;
}
