.sidebar-sticky
  .row
    .col-3.p-0.sidebar-icons
      .sidebar-title
        %i.fa.fa-at.fa-2x
      %ul.nav.flex-column
        %li.nav-item.p-1.icons-item.selected{align: "center"}
          %a{href: '/'}
            %b FX
        %li.nav-item.p-1.icons-item{align: "center"}
          %a{href: '/'}
            %b ST
    .col-9.p-0.sidebar-menu
      .sidebar-title
        %a{href: '/'}
          %h4{align: "center"} FanmaruX
      %ul.nav.flex-column
        %li.nav-item.menu-item.selected{align: "center"}
          %a{href: '#'}
            %i.fa.fa-line-chart
            Dashboard
        %li.nav-item.menu-item{align: "center"}
          %a{href: '#'}
            %i.fa.fa-tasks
            Methods
        %li.nav-item.menu-item{align: "center"}
          %a{href: '#'}
            %i.fa.fa-newspaper-o
            News
