%div.row#title-app
  %div.col-4.offset-4{'align': 'center'}
    FANMARU DASHBOARD
  %div.col-4{'align': 'right'}
    %el-popover{placement: 'bottom', title: 'Title',  trigger: "hover", width: "200", 'content': 'anonymous user'}
      %i.fa.fa-user-circle-o{slot: "reference"}
